/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

html,
body {
    height: 100%;
}

body.webpage {
    background: #0f1512 var(--login-bg, url("../image/picture.jpg")) center / cover no-repeat fixed;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
}

.container {
    width: 100%;
    max-width: 450px;
}

.VS-box {
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 400px;
	padding: 40px;
	background: rgba(90, 88, 88, 0.4);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(78, 80, 80, 0.9);
	border-radius: 10px;
}



h1 {
    color: #5cdd4be8;
    font-size: 28px;
    margin-bottom: 5px;
}

h2 {
    color: #faf4f4;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

/* Tabs Styling */
.main-btns {
    display: flex;
    background: #f0f2f5;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.main-btns button {
    flex: 1;
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
    font-weight: 600;
    color: #555;
    transition: 0.3s;
    border-radius: 8px;
}

.main-btns button.active {
    background: #ffffff;
    color: #368171;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

/* Form Styling */
.form-group {
    text-align: left;
    margin-bottom: 15px;
}

.form-row {
    display: flex;
    gap: 15px;
}

label {
    display: block;
    font-size: 13px;
    margin-bottom: 5px;
    color: #ffffff;
    font-weight: 600;
}

input {
    width: 100%;
    padding: 12px;
    border: 2px solid #ffffff;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-color: #35aa49e0;
}

/* Primary Button */
.btn-primary {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 8px;
    background: #4ba268;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    transition: transform 0.2s, background 0.3s;
}

.btn-primary:hover {
     background: #4ba268;
    transform: translateY(-2px);
}

/* Alerts */
.alert {
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 13px;
}

.alert-danger { background: #fee2e2; color: #b91c1c; }
.alert-success { background: #dcfce7; color: #15803d; }

/* Initialization */
#register { display: none; }